<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupTool.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BackupTool.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;User Id=sa;Password=Deniz.0648;TrustServerCertificate=True;</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value>C:\Backups</value>
            </setting>
            <setting name="ExcludedDatabases" serializeAs="String">
                <value>master,tempdb,model,msdb</value>
            </setting>
            <setting name="RetentionDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinFreeSpaceMB" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>hldsrv34.dilerhld.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>denizcakmak@dilerhld.com</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>Dnz.0648</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>denizcakmak@dilerhld.com</value>
            </setting>
            <setting name="BackupFrequencyDays" serializeAs="String">
                <value>3</value>
            </setting>
        </BackupTool.Settings>
    </userSettings>
</configuration>